---
import ReactIcons from "@/helpers/ReactIcons.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { useTranslations } from "@/lib/utils/i18nUtils";
import OptimizedImage from "./utilities/OptimizedImage.astro";
import PaginationForSingle from "./widgets/PaginationForSingle.astro";
import "aos/dist/aos.css";
import { RichTextComp } from "@/components/Richtext";

const { post } = Astro.props;

let { title, populatedAuthors, publishedAt, heroImage, categories, content } = post;

const options: any = { year: 'numeric', month: 'long', day: 'numeric' };
const date = new Date(publishedAt)

---

<section class="bg-body overflow-hidden pt-16 md:pt-32">
  <div class="container">
    <div class="mx-auto w-full max-w-6xl space-y-10 md:space-y-20">
      {heroImage && (
        <div class="swiper-slide h-auto!">
          <OptimizedImage
            src={heroImage.sizes.medium.url}
            height={heroImage.sizes.medium.height}
            width={heroImage.sizes.medium.width}
            alt={heroImage.alt || ""}
            class="h-112.5 w-full object-cover md:h-137.5"
          />
        </div>
      )}
      <div
        class="grid max-w-full grid-cols-1 max-xl:space-y-8 xl:grid-cols-7 xl:gap-x-20">
        {
          categories && Array.isArray(categories) && (
            <ul class="space-y-4 xl:order-2 xl:col-span-2">
              {categories.map((item) => (
                <li class="w-fit">
                  <div
                    class="prose-a:underline text-dark font-secondary font-medium capitalize"
                    >{item.title}</div>
                </li>
              ))}
            </ul>
          )
        }
        <div class="space-y-6 pe-10 xl:col-span-5">
          {title && <h1 class="md:text-display-5">{title}</h1>}
          {publishedAt && <div class="font-secondary font-medium capitalize">{date.toLocaleDateString("en-US", options)}</div>}
          {populatedAuthors && populatedAuthors.length ? (
            <div class="font-secondary font-medium">
              By
              {populatedAuthors.map((author:any, index:number) => {
                if (index === populatedAuthors.length - 1) {
                  return <span>{author.name}</span>
                } else {
                  return <span>{`${author.name}, `}</span>
                }
              })}
            </div>
          ) : null}
          <div
            class="prose-styles has-video-modal [&_.image-list-component]:xl:-ms-31.5 [&_.image-list-component]:xl:w-6xl">
            <RichTextComp data={content} />
          </div>
        </div>
      </div>
      <div class="my-10 flex justify-between border-t pt-10">
        <!-- <PaginationForSingle
          prevBtnText={t("common.paginationBlogPrev")}
          nextBtnText={t("common.paginationBlogNext")}
          currentPage={Astro.props.content}
          collection={collection}
        /> -->
      </div>
    </div>
  </div>

  <script>
    if (typeof window !== "undefined") {
      window.addEventListener("load", async function () {
        await import("swiper/swiper-bundle.css");
        const { Swiper } = await import("swiper");
        const { Autoplay, Pagination, Navigation } =
          await import("swiper/modules");

        // Initialize banner Swiper
        const blogSlider = document.querySelector(
          "#blog-slider",
        ) as HTMLElement;

        if (blogSlider) {
          // Initialize content Swiper with navigation
          new Swiper(blogSlider, {
            modules: [Autoplay, Pagination, Navigation],
            navigation: {
              nextEl: ".blog-slider-btn-next",
              prevEl: ".blog-slider-btn-prev",
            },
            speed: 800,
            spaceBetween: 40,
            slidesPerView: 1,
            centeredSlides: true,
            loopAdditionalSlides: 2,
            autoplay: {
              delay: 4000,
              disableOnInteraction: true,
            },
            loop: true,
          });
        }
      });
    }
  </script>
</section>
