---
import formatRelativeDate from "@/lib/utils/formatRelativeDate";
import { markdownify } from "@/lib/utils/textConverter";
import ResourceCard from "@/components/cards/ResourceCard.astro";
import { RichTextComp } from "@/components/Richtext";

const { content } = Astro.props;
let { title, date, categories, layout } = content;

---

<section class="pt-8">
  <div class:list={["space-y-10"]}>
    <!-- {
        image && (
          <OptimizedImage
            width={896}
            height={500}
            alt={title}
            src={image as string}
            class:list={["h-125 w-full object-cover"]}
          />
        )
      } -->
    <div class="max-w-full">
      <div class="container space-y-2">
        <ul
          class="text-dark flex flex-wrap items-center gap-x-5 gap-y-1 tracking-wide">
          {
            date && (
              <li>
                {date && markdownify(formatRelativeDate(date, "dd MMM, yyyy"))}
              </li>
            )
          }

          {
            categories?.map((category: string) => (
              <li class="before:bg-dark relative pe-5 before:absolute before:end-0 before:top-1/2 before:h-1 before:w-1 before:-translate-y-1/2 before:rounded-full before:content-['']">
                {markdownify(category)}
              </li>
            ))
          }
        </ul>
        {title && <h1 class="text-h2-sm md:text-h2" set:html={title} />}
      </div>
    </div>
    {
      layout &&
        layout.length &&
        layout.map((section: any) => (
          <div class={`bg-(--color-${section.backgroundColor})`}>
            {section.blockType == "content" ? (
              <div class="container space-y-10 py-6">
                <RichTextComp data={section.richText} />
              </div>
            ) : section.blockType == "resources" ? (
              <div id="resources" class="container py-8">
                <h2 class="text-h2-sm md:text-h2">Resources</h2>
                <div class="mt-20 grid grid-cols-1 gap-20 md:grid-cols-2 xl:grid-cols-3">
                  {section.list?.map((resource: any) => (
                    <ResourceCard
                      logo={resource.image}
                      link={resource.link}
                      title={resource.title}
                      description={resource.description}
                      index={`resource-${resource.id}`}
                    />
                  ))}
                </div>
              </div>
            ) : null}
          </div>
        ))
    }
  </div>
</section>
