---
import type { z } from "astro/zod";
import CustomButton from "@/components/CustomButton.astro";
import { Image } from "astro:assets";
import type { bannerSchema } from "@/sections.schema";

type bannerType = 
  z.infer<typeof bannerSchema>;

type Props = {
  content: bannerType;
  class?: string;
};

const { content } = Astro.props

---
<div class="bg-dark">
  <section class="bg-dark relative">
    {
      content?.backgroundImage && (
        <div
          data-aos="reveal-anim-top"
          data-aos-duration="1500"
          data-aos-delay="300"
          data-aos-offset="0"
          class="h-full absolute left-0 top-0 mix-blend-soft-light">
          <Image
            src={`${import.meta.env.PUBLIC_API_URL}${content.backgroundImage.url}`}
            alt={content.backgroundImage.alt || "Banner image"}
            width={content.backgroundImage.width}
            height={content.backgroundImage. height}
            class="w-full object-contain"
          />
        </div>
      )
    }
  <div class="container z-10 relative pt-54 md:pt-20 lg:pt-40 pb-4 md:pb-20">
    <div class="bg-primary/80 text-body mx-auto max-w-7xl py-6 space-y-7 text-center md:space-y-10">
      {
        content?.title && (
          <h1
            data-aos="reveal-anim-top"
            data-aos-duration="1500"
            class:list={[
              "text-inherit",
              "text-4xl md:text-5xl",
              "block leading-tight font-bold wrap-break-word text-inherit",
            ]}
          >
            {content.title}
          </h1>
        )
      }
      <div
        data-aos="reveal-anim-top"
        data-aos-duration="1500"
        data-aos-delay="200"
        class="mx-auto max-w-xl space-y-8">
        {content?.subtitle && (
          <p
            class="text-lg md:text-2xl text-inherit opacity-80"
          >
            {content.subtitle}
          </p>
        )}
        {content?.CTA && (
          <CustomButton
            hoverEffect="creative-fill"
            class="btn-accent effect-color-dark mx-auto"
            url={content.CTALink}
            label={content.CTA}
            class="bg-secondary active:bg-yellow focus:bg-yellow hover:bg-yellow creative-hover-anim text-dark"
          />
        )}
      </div>
    </div>
  </div>
</section>
</div>
