---
import { toSentenceCase } from "@/lib/utils/textConverter";
import { useTranslations } from "@/lib/utils/i18nUtils";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

type Props = {
  content: {
    slug: string,
    title: string,
    heroImage?: {
      url: string,
    },
    categories?: [
      {
        slug: string,
        title: string,
      }
    ],
    meta?: {
      title: 'string',
      image: {
        url: string,
      },
      description: string,
    }
  };
  [key: string]: any;
};

let {
  index,
  rest,
  content,
  options: { layout = "grid" } = {},
  options,
  class: className,
} = Astro.props;

let {
title, categories, heroImage, meta, slug
} = content;

const t = await useTranslations(Astro.currentLocale as string);
const hasCategories = Array.isArray(categories) && categories.length > 0;
const isDarkAppearance = "dark";
---

<div
  class:list={[
    className,
    "group",
    layout === "grid" && "flex flex-col items-start justify-start",
    isDarkAppearance ? "text-white" : "text-text-default",
  ]}
  {...rest}>
  {
    heroImage && (
      <a
        title={toSentenceCase(t("common.learnMoreAbout") + " " + title)}
        class:list={[
          "bg-dark order-1 inline-block w-full overflow-hidden",
          layout === "grid" && "mb-8",
        ]}
        href={slug}
        {...{
          "data-aos":
            index !== undefined &&
            ["reveal-anim-left", "reveal-anim-right", "reveal-anim-top"][
              index % 3
            ],
        }}>
        <OptimizedImage
          src={heroImage.url}
          alt={title || "Project image"}
          class:list={[
            "h-100 scale-110 object-cover mix-blend-soft-light transition duration-500 group-hover:translate-x-2",
          ]}
        />
      </a>
    )
  }

  {
    hasCategories && (
      <ul
        class:list={[
          "flex flex-wrap items-center gap-x-2 gap-y-1 opacity-80",
          layout === "grid" && "order-3 mt-3",
          isDarkAppearance ? "text-light" : "text-inherit",
        ]}>
        {categories.map((category: any, index: number) => (
          <>
            {index > 0 && <li>/</li>}
            <li>{category.title}</li>
          </>
        ))}
      </ul>
    )
  }

  {
    title && (
      <h3 class="text-h3-sm md:text-h3 order-2 leading-snug text-inherit">
        <a
          href={slug}
          title={toSentenceCase(t("common.learnMoreAbout") + " " + title)}>
          {title}
        </a>
      </h3>
    )
  }

  {meta?.description && <p class="mt-4">{meta.description}</p>}
</div>
