---
import type { z } from "astro/zod";
import type { CTASectionSchema } from "@/sections.schema";
import CustomButton from "../CustomButton.astro";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

type CTACardType = 
  z.infer<typeof CTASectionSchema>;

type Props = {
  content: CTACardType;
  class?: string;
};

const { content } = Astro.props;

---

<div class:list={["bg-theme-light"]}>
  {
    content?.image && (
      <div
        data-aos="reveal-anim-top"
        data-aos-duration="1500"
        data-aos-delay="300"
        data-aos-offset="0"
        class="mx-auto mt-0 mb-1 max-w-4xl xl:pt-12">
        <OptimizedImage
          src={content?.image.url}
          alt={content?.image.alt || ""}
          height={content?.image.height}
          width={content?.image.width}
          class="w-full object-contain"
        />
      </div>
    )
  }
  <div class:list={["space-y-10 p-8 text-center"]}>
    <div class="space-y-4">
      <div>
        <h3 class="text-h5 md:text-h4 font-semibold">{content?.title}</h3>
      </div>
      {
        content?.subtitle && (
          <p class="text-md md:text-lg">{content?.subtitle}</p>
        )
      }
    </div>
        <CustomButton
          class="effect-color-accent mr-auto ml-auto text-center md:w-100"
          hoverEffect="creative-fill"
          label={content?.linkText || ""}
          url={content?.linkURL}
        />
  </div>
</div>
