---
import { markdownify, toSentenceCase } from "@/lib/utils/textConverter";
import { getLocaleUrlCTM, useTranslations } from "@/lib/utils/i18nUtils";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  index: string;
  logo?: string;
  title: string,
  description?: string,
  // translations?: any;
  [key: string]: any;
};

let {
  index,
  logo,
  link,
  title,
  description,
} = Astro.props;

const t = await useTranslations(Astro.currentLocale as string);

// const isDarkAppearance = options?.appearance === "dark";
---

<div
  class:list={[
    "border-2 border-primary rounded-lg p-4 space-y-4 overflow-hidden transition duration-250 hover:shadow-xl/40",
    // "group",
    "flex flex-col items-start justify-start",
    "text-text-default",
  ]}
>
  {logo && (
    <a
      title={title}
      class:list={[
        "order-1 inline-block mx-auto",
        "mb-8",
      ]}
      href={link}
      >
      <OptimizedImage
        src={logo}
        alt={`${title} logo.` || "Resource logo."}
        class:list={[
          "h-60 scale-110 object-contain transition duration-500 group-hover:translate-x-2",
        ]}
      />
    </a>
  )}

  {title && (
    <h3 class="text-h3-sm md:text-h3 order-2 leading-snug text-inherit">
      <a
        href={link}
        title={toSentenceCase(t("common.learnMoreAbout") + " " + title)}>
        {title}
      </a>
    </h3>
  )}

  {description && <p class="mt-4 order-3" set:html={markdownify(description)} />}
</div>
