---
import { parseTomlToJson } from "@/lib/utils/tomlUtils";
import { markdownify } from "@/lib/utils/textConverter";
import { splitProtectedText } from "@/lib/utils/splitProtectedText";
import SocialComponent from "@/components/widgets/Social.astro";
import social from "@/config/social.json";
import { useTranslations } from "@/lib/utils/i18nUtils";
import { getEntryCTM } from "@/lib/customContentLoader.astro";
import ContactForm from "../widgets/ContactForm.astro";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

const config = parseTomlToJson();
const t = await useTranslations(Astro.currentLocale as string);

let {
  copyright,
  footerDescription,
  contactInfo: { address, email, phone },
} = config.settings;
const { footerSpaceTop = true } = Astro.props;

const {
  data: { title, description },
} = await getEntryCTM("sections", "call-to-action", Astro.currentLocale);

let { form } = (
  await getEntryCTM("sections", "contact-section", Astro.currentLocale)
)?.data;

footerDescription = footerDescription || t("footer.description") || "";

const copyrightText = copyright.text || t("footer.copyright") || "";
const copyrightParts = splitProtectedText(copyrightText);
---

<footer
  id="footer-with-contact"
  class:list={["bg-gradient--footer bg-light mt-10 pt-10", !footerSpaceTop && "mt-30"]}>
  <div class="container pb-8 lg:pb-16 grid grid-cols-1 lg:grid-cols-3 text-xl">
    <div class="lg:col-span-3 text-center">
        <OptimizedImage
          src='/images/logo-art.png'
          alt={title || "Frontera Fund logo."}
          class:list={[
            "h-80 object-contain mx-auto",
          ]}
        />
    </div>
    <div class="mt-16 lg:mt-10 text-center lg:text-left">
      <ul>
        <li>
          <a class="active:underline focus:underline hover:underline" href="#FIXME">About us</a>
        </li>
        <li>
          <a class="active:underline focus:underline hover:underline" href="#FIXME">Blog</a>
        </li>
        <li>
          <a class="active:underline focus:underline hover:underline" href="#FIXME">Contact</a>
        </li>
        <li>
          <a class="active:underline focus:underline hover:underline" href="#FIXME">Donate</a>
        </li>
      </ul>
    </div>
    <div class="mt-10 text-center lg:text-left">
      <div>
        Helpline:
        <a class="active:underline focus:underline hover:underline" href="tel:+19568870706">(956) 887-0706</a>
      </div>
      <div class="mt-10">
        <p>P.O. Box 721011</p>
        <p>McAllen, TX 78504</p>
      </div>
    </div>
    <div class="flex flex-col items-center gap-10 mt-10 text-center lg:text-left">
      <SocialComponent
            size="lg"
            layout="dark"
            class="gap-5"
            linkType="follow"
            list={social.main.filter((s) => s.enable)}
          />
      <div>
        <div>
          <a class="active:underline focus:underline hover:underline" href="/privacy-policy">Privacy policy</a>
        </div>
        <div>
          <a class="active:underline focus:underline hover:underline" href="/legal-disclaimers">Legal disclaimers</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container pb-8 lg:pb-16">
    <div
      class="grid grid-cols-1 gap-y-10 border-b-2 border-black py-16 lg:py-24 lg:grid-cols-2 lg:gap-x-20 xl:gap-x-10">
      <div class="space-y-10">
        {
          title && (
            <h2
              class="text-display-6 xs:text-display-5 lg:text-display-4"
              set:html={markdownify(title)}
            />
          )
        }
        {
          description && (
            <div
              class="w-full max-w-lg text-lg"
              set:html={markdownify(description, true)}
            />
          )
        }
        <div class="space-y-4">
          {
            config.settings.copyright?.enable && (
              <ul class="has-list has-list-slash prose-a:text-inherit flex flex-wrap gap-y-2">
                {copyrightParts.map((value) => (
                  <li class="prose-a:text-text-default/70 prose-a:hover:text-text-default">
                    <span set:html={markdownify(value)} />
                  </li>
                ))}
              </ul>
            )
          }

          <SocialComponent
            size="lg"
            layout="dark"
            class="gap-5"
            linkType="follow"
            list={social.main.filter((s) => s.enable)}
          />
        </div>
      </div>
      <ContactForm form={form} />
    </div>
    <div
      class="font-secondary flex flex-wrap items-center justify-between gap-x-8 gap-y-6 pt-6 text-sm leading-loose font-semibold uppercase">
      {address && <p set:html={markdownify(address)} />}
      <div class="lg:text-end">
        {phone && <p set:html={markdownify(phone)} />}
        {email && <p set:html={markdownify(email)} />}
      </div>
    </div>
  </div> -->
</footer>
